<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.zone">

    <application
        android:allowBackup="true"
        android:icon="@drawable/zen"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="br.com.zone.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.zone.MainActivity"
            android:label="@string/title_activity_music"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>